@layer tokens, base, components, pages, utilities;

@import "./tokens.css";
@import "./base.css";
@import "./components.css";

/* pages */
@import "./pages-home.css";
@import "./pages-tournament.css";
@import "./pages-support.css";
@import "./pages-legal.css";

/* utilities (global overrides, accessibility) */
@import "./utilities.css";
